<h1>Profile</h1>

<h2>{{creator}}</h2>

<nav>
    <a href="/recipes/all-recipes">Recipes</a>
    <a href="/recipes/create-recipes">Create a Recipe</a>
</nav>

{{#each recipes}}

<h3>{{title}}</h3>
<img src="{{image}}" alt="{{title}}">
<a href="/recipes/recipe-details/{{_id}}">Details</a>

<p>By: {{creator}}</p>



{{/each}}