
<nav class="all-recipes-nav">

    <div class="all-recipes-nav-left">

        <a href="/">

            <h1>Cooks Companion</h1>

        </a>

    </div>

    <div class="all-recipes-nav-right">

        <ul class="all-recipes-ul">

            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/recipes/create-recipes">Create a Recipe</a>
            </li>

            <li>
                {{#if id}}
                <a href="/users/my-profile/profile/{{id}}">My Profile</a>
                {{else}}
                <a href="/users/login">My Profile</a>
                {{/if}}
            </li>

        </ul>

    </div>

</nav>


<hr class="hr">

<div class="all-recipes-h2">

     <h1>Explore Recipes</h1>

</div>


<div class="main-page-div">


    {{#each recipes}}

        <div class="main-rows">

            <a href="/recipes/recipe-details/{{_id}}">

                <img src="{{image}}" alt="{{title}}">

            </a>

            <h3>{{title}}</h3>

            <a href="/recipes/recipe-details/{{_id}}">Details</a>

            <a href="/users/profile/{{creator}}">

                <p>By: {{creator}}</p>

            </a>

        </div>

    {{/each}}



</div>
