<nav>
    <a href="/">Home</a>
    <a href="/recipes/all-recipes">Back</a>
</nav>

<h2>Edit Recipe</h2>

<form action="/recipes/edit-recipes/{{_id}}" method="POST"> >

<label for="">Title</label>
<input type="text" value="{{title}}" name="title">

<label for="">Ingredients</label>
<input type="text" value={{ingredients}} name="ingredients">

<label for="">Image</label>
<input type="file" value={{image}} name="image">

<label for="">Cuisine</label>
<input type="text" value={{cuisine}} name="cuisine">

<label for="">Dish Type:</label>
    <select type="text" value={{dishType}} name="dishType">
        <option value='breakfast'>Breakfast</option>
        <option value='main_course'>Main Course</option>
        <option value='soup'>Soup</option>
        <option value='snack'>Snack</option>
        <option value='drink'>Drink</option>
        <option value='dessert'>Dessert</option>
        <option value='other'>Other</option>
    </select>

<label for="">Duration</label>
<input type="text" value={{duration}} name="duration">

<label for="">Level</label>
    <select type="text" value={{level}} name="level">
        <option value='Easy Peasy'>Easy</option>
        <option value='Amateur Chef'>Amateur</option>
        <option value='UltraPro Chef'>Pro</option>
    </select>


<button type="submit">Edit Recipe</button> 

</form>