<nav class="details-nav">

    <div class="details-nav-left">

        <a href="/">

            <ul class="details-ul">

                <li>

                    <h1>Cooks Companion</h1>

                </li>

            </ul>

        </a>

    </div>

    <div class="details-nav-right">

        <a href="/recipes/all-recipes">Recipes</a>

    </div>

</nav>



<hr class="hr">


<div class="details-main">

    <div class="details-main-box">

        <div class="recipe-main-view">

            <h1>{{title}}</h1>
            <h2>By: {{creator}}</h2>
            <img src="{{image}}" alt="{{title}}">

        </div>

        <hr>

        <div class="recipe-details-facts">

            <h4>Recipe Facts:</h4>

            <p> 
                <b>Duration:</b> {{duration}} Minutes
            </p>

            <p> 
                <b>Recipe Difficulty:</b> {{level}}
            </p>

            <p> 
                <b>Type of Dish:</b> {{dishType}}
            </p>

        </div>

        <div class="recipe-details-info">

            <div class="recipe-details-ingredients">

                <b>Ingredients:</b> 
                <ul> 
                    {{#each ingredients}}
                    <li>
                        <p>{{this}}</p>
                    </li>
                    {{/each}}
                </ul>

            </div>

            <div class="recipe-details-directions">

                <b>Directions:</b> 
                <ol> 
                    {{#each directions}}
                    <li>
                        <p>{{this}}</p>
                    </li>
                    {{/each}}
                </ol>

            </div>


        </div>

        <hr>

        <div class="details-comment-form">

            <form action="/recipes/add-comment/{{_id}}" method="post">

                <div class="details-comment-box">

                    <label for="">New Comment</label>
                    <input type="text" name="comment">

                </div>

                <div class="comment-btn">

                    <button type="submit">Add Comment</button>

                </div>

            </form>

        </div>

        <div class="details-comment-section">


            {{#if comments}}

                <ul class="all-comments">

                    {{#each comments}}

                        <div class="each-comment-list">

                            <li>
                                <p>{{comment}}</p>
                                <h6>{{user}}</h6>
                                <a href="/recipes/delete-comment/{{_id}}">Delete</a>
                                <hr>
                            </li>

                        </div>

                    {{/each}}

                </ul>

            {{else}}

                <div class="no-comment-view">

                    <p>No Reviews yet</p>

                </div>

            {{/if}}
        
        </div>

        <div class="recipe-details-links">

            <a href="/recipes/all-recipes">Recipes</a>
            <a href="/recipes/edit-recipes/{{_id}}">Edit Recipe</a>
            <a href="/recipes/delete-recipe/{{_id}}">Delete Recipe</a>

        </div>

    </div>


</div>
